O Objetivo deste simples projeto é colocar em prática os assuntos estudados teóricos em python.

In [2]:
import pandas as pd

df=pd.read_csv('dados/2004-2021.tsv',sep="\t")

df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.shape

(120823, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

Vamos utilizar algumas variáveis do data frame para fazer inferências sobre perguntas.
Note que V.A.S DATA INICIAL E DATA FINAL foram interpretadas como strings precisamos converte-las
em datas, ou seja datetime.

In [7]:
df['DATA INICIAL']=pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL']=pd.to_datetime(df['DATA FINAL'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 16.6+ MB

Quais são os produtos de base de dados?

In [8]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

Vamos obter os dados da gasolina comum.

In [35]:
df_comum=df[df['PRODUTO']=='GASOLINA COMUM']
df_comum.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004/05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004/05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004/05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004/05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004/05


 Vamos criar uma coluna ANO-MÊS no data frame original apenas com data do mes e ano para facilitar.

In [34]:
df['ANO-MÊS']=df['DATA FINAL'].apply(lambda x:'{}'.format(x.year))+df['DATA FINAL'].apply(lambda x:'/{:02d}'.format(x.month))
df['ANO-MÊS'].head()

0    2004/05
1    2004/05
2    2004/05
3    2004/05
4    2004/05
Name: ANO-MÊS, dtype: object

Qual seria o preço de revenda média da gasolina comum em julho de 2008 ?

In [37]:
df_comum[df_comum['ANO-MÊS']=='2008/07']['PREÇO MÉDIO REVENDA'].mean()

2.5921018518518517

Qual seria o preço de revenda média da gasolina comum em maio 2014 em São Paulo ?

In [44]:
df_comum[(df_comum['ANO-MÊS']=='2014/05') & (df_comum['ESTADO']=='SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

Quais estados a gasolina ultrapassou os R$ 5,00 e quando foi que ocorreu ?

In [45]:
df_comum[df_comum['PREÇO MÍNIMO REVENDA']>5][['ESTADO','ANO-MÊS','PREÇO MÉDIO REVENDA']]

                   ESTADO  ANO-MÊS  PREÇO MÉDIO REVENDA
100906               ACRE  2018/09                5.347
101055               ACRE  2018/10                5.345
101204               ACRE  2018/10                5.362
101354               ACRE  2018/10                5.355
101505               ACRE  2018/10                5.352
...                   ...      ...                  ...
120719  RIO GRANDE DO SUL  2021/05                5.781
120720           RONDONIA  2021/05                5.629
120721            RORAIMA  2021/05                5.364
120724            SERGIPE  2021/05                5.586
120725          TOCANTINS  2021/05                5.751

[200 rows x 3 columns]

Qual média de preço da região sul em 2012?

In [49]:
df_sul=df_comum[df_comum['DATA FINAL'].apply(lambda x:x.year)==2014]
df_sul[df_sul['REGIÃO']=='SUL']['PREÇO MÉDIO REVENDA'].mean()

2.9567692307692304

Qual seria a variação percentual ano a ano para o estado do Paraná ?

In [59]:
df['MÊS']=df['DATA FINAL'].apply(lambda x:x.month)
df_parana=df_comum[df_comum['ESTADO']=='PARANA']
df_mes_parana=df_parana.groupby('ANO-MÊS')[['PREÇO MÉDIO REVENDA','MÊS']].last()
(df_mes_parana[df_mes_parana['MÊS']==12]/df_mes_parana[df_mes_parana['MÊS']==12].shift(1)-1)*100

         PREÇO MÉDIO REVENDA  MÊS
ANO-MÊS
2004/12                  NaN  NaN
2005/12             8.194507  0.0
2006/12             4.535997  0.0
2007/12            -3.503185  0.0
2008/12             1.320132  0.0
2009/12             3.990228  0.0
2010/12             1.487862  0.0
2011/12             4.398148  0.0
2012/12             3.658537  0.0
2013/12             6.559715  0.0
2014/12            -0.635664  0.0
2015/12            21.077441  0.0
2016/12             1.946607  0.0
2017/12            11.102019  0.0
2018/12             1.546771  0.0
2019/12             4.908124  0.0
2020/12            -3.318737  0.0

Vamos criar uma tabela do preço de revenda média, com a diferença absoluta e percentual   dos maiores e menores valores a onde apresente o estado.

In [69]:
df_max=df_comum.groupby('ANO-MÊS').max()['PREÇO MÉDIO REVENDA'] #obtendo preço máximo por mês
df_min=df_comum.groupby('ANO-MÊS').min()['PREÇO MÉDIO REVENDA']
idx_max=df_comum.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmax() # retornando os indices máximos pelo preço
idx_min=df_comum.groupby('ANO-MÊS')['PREÇO MÉDIO REVENDA'].idxmin()

In [62]:
df_diff=pd.DataFrame()   #criando data frame

In [66]:
df_diff['abs_dif']=df_max-df_min  # criando a coluna de diferença absoluta no data frame
df_diff['percent_dif']=(df_max-df_min)/df_min*100  # percentual
df_diff['max']=df_max
df_diff['min']=df_min

In [67]:
df_diff.head()

         abs_dif  percent_dif    max    min
ANO-MÊS
2004/05    0.550    29.131356  2.438  1.888
2004/06    0.584    30.543933  2.496  1.912
2004/07    0.609    31.456612  2.545  1.936
2004/08    0.530    26.108374  2.560  2.030
2004/09    0.539    26.538651  2.570  2.031

In [71]:
df_diff['ESTADO_MAX']=df_comum.loc[idx_max,:]['ESTADO'].values
df_diff['ESTADO_MIN']=df_comum.loc[idx_min,:]['ESTADO'].values
df_diff.head()

         abs_dif  percent_dif    max    min   ESTADO_MAX        ESTADO_MIN
ANO-MÊS
2004/05    0.550    29.131356  2.438  1.888         ACRE         SAO PAULO
2004/06    0.584    30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004/07    0.609    31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004/08    0.530    26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004/09    0.539    26.538651  2.570  2.031         ACRE         SAO PAULO

Qual foi o estado onde se obteve mais vezes  valores Max e Min

In [72]:
df_diff['ESTADO_MAX'].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MAX, dtype: int64

In [73]:
df_diff['ESTADO_MIN'].value_counts()

SAO PAULO              40
AMAPA                  38
PARAIBA                28
PIAUI                  28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
BAHIA                   2
CEARA                   2
GOIAS                   2
RIO GRANDE DO NORTE     2
Name: ESTADO_MIN, dtype: int64